/*start all styling*/
:root {
    --font-fam: 'Inter', sans-serif;
}

html,
body {
    font-family: var(--font-fam);
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f1;
    color: #555555;
    transition: all 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
    color-scheme: dark light;
}

/*
    Dark mode
*/
.dark, .dark>* {
    color: #fefefe !important;
    background-color: #21232d !important;
    transition: all 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

.text-primary {
    color: #666666
}

.text-blue {
    color: #246dec
}

.text-red {
    color: #cc3c43
}

.text-green {
    color: #367952
}

.text-orange {
    color: #f5b74f
}

.font-weight-bold {
    font-weight: 600
}

/* ---------- HERO ---------- */
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 40px;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-title>p {
    font-size: 20px;
}

.main-cards {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    margin: 28px 0;
}

.content-user {
    /* display: none; */
    position: fixed;
    background-color: #fefefe !important;
    color: #555555 !important;
    min-width: 160px;
    z-index: 1;
    margin-top: 28px;
    width: 190px;
    right: 1px;
    padding: 12px;
    border-radius: 8px;
}

.content-user.hide {
    display: flex;
    flex-direction: column;
    position: fixed;
}

.content-user.hide span {
    min-height: 35px;
    padding: 8px;
    border-radius: 5px;
}

.content-user.hide span:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.header-right span .account.active {
    color: #246dec;
}

.content-user.hide span:not(:nth-child(1)) {
    margin-top: 10px;
}

span.logout {
    padding: 4 !important;
}

span.user-main {
    width: 100%;
    min-height: 75px !important;
}

span.user-main .img {
    display: block;
    width: 30px;
    height: fit-content;
}

button,
a,
i,
span {
    cursor: pointer;
    text-decoration: none;
}

/** search bar **/
.search-text {
    display: inline
}

.search-box {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all 500ms ease-in-out;
    background-color: #fefefe;
    padding-right: 40px;
    color: currentColor;
    color-scheme: dark light;
}

.input-search::placeholder {
    /* color: #21232d; */
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 48px;
    height: 48px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    /* color: black; */
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search,
.input-search:focus {
    width: 520px;
    border-radius: 0px;
    background-color: transparent;
    /* border-bottom: 1px solid currentColor; */
    transition: all 500ms ease-in-out;
}

#list {
    backdrop-filter: blur(9999px);
    background-position: center;
    color-scheme: dark light;
    padding: 12px;
    border-radius: 8px;
    margin-top: 14px;
    z-index: 999;
    width: 100%;
    font-size: 1rem;
    display: none;
}

.results {
    padding: 8px 0;
}

.results i {
    padding: 0 4px;
}

.btn-search:focus~#list,
.input-search:focus~#list {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.results {
    display: list-item;
}

/* end search bar */

.brand-title {
    font-weight: 700;
}

.user-info {
    line-height: 1.35;
    margin-top: 6px;
    letter-spacing: -.2px;
}

.strong {
    font-weight: 700 !important;
}

.light {
    font-weight: 300 !important;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 22px;
    max-width: 250px;
    /* background-color: #ffffff; */
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
    border-left: 7px solid #246dec;
}

.card:nth-child(2) {
    border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
    border-left: 7px solid #367952;
}

.card:nth-child(4) {
    border-left: 7px solid #cc3c43;
}

.card>span {
    font-size: 20px;
    font-weight: 600;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner>p {
    font-size: 18px;
}

.card-inner>span {
    font-size: 35px;
}

/* ---------- HEADER ---------- */
.header {
    grid-area: header;
    height: 70px;
    z-index: 9;
    isolation: isolate;
    /* background-color: #ffffff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
    display: none;
}

/* ---------- SIDEBAR ---------- */
/* Sidebar */
.sidebar {
    /* background-color: #fff; */
    width: 270px;
    position: absolute;
    height: 100%;
    top: 0;
    left: -275px;
    transition: all 0.3s ease;
    z-index: 99999;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: inherit;
    color-scheme: dark light;
}

.sidebar-list {
    min-height: 185px;
    width: 100%;
    font-size: 1.1rem;
}

.sidebar-list>.sidebar-list-item {
    min-height: 45px;
}

.sidebar-brand {
    display: flex;
    align-items: center;
}

.brand-title {
    font-weight: 500;
    font-size: 20px;
}

#sidebar-toggle {
    cursor: pointer;
    font-size: 25px;
}

.content-sidebar {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color: inherit;
    position: static;
    /*work*/
    z-index: 99999;
}

.sidebar-list {
    margin: .8rem 0 0 0;
    padding: 0;
}

.sidebar-list-item {
    list-style: none;
    padding: 16px 20px;
    /* border-bottom: 1px solid currentColor; */
}

.sidebar-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-list-item a {
    text-decoration: none;
    /* color: #555; */
    font-size: 16px;
    display: flex;
    align-items: center;
}

.material-icons-outlined {
    font-size: 18px;
    margin-right: 10px;
}

.menu-icon i.bi.bi-list {
    font-size: 25px;
}

i.bi.bi-search {
    color: #21232d;
    color-scheme: dark light;
}

.sidebar-responsive {
    left: 0 !important;
}

.active {
    background-color: #fff !important;
}

.activeDark {
    background-color: #21232d !important;
}

/* ---------- MEDIA QUERIES ---------- */
@media screen and (min-width: 800px) {
    .content-user.hide {
        min-width: 220px;
        max-width: 250px;
        min-height: max-content;
        max-height: 300px;
        align-items: flex-start;
    }

    .content-user span {
        padding: 8px !important;
        width: 100%;
    }
}

/* for => 992px */
@media screen and (min-width: 992px) {
    .sidebar {
        left: 0;
    }

    #sidebar-toggle {
        display: none;
    }
}

/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
            "header"
            "main";
    }

    .sidebar {
        left: -270px;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title>span {
        display: inline;
    }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}

@media screen and (max-width: 670px) {
    .search-box {
        margin: 0 22px;
    }

    .btn-search:focus~.input-search,
    .input-search:focus {
        width: 100%;
    }

    .btn-search:focus~.input-search form,
    .input-search:focus form {
        width: calc(100% - 22%);
    }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}

/* settings */
main .main-title {
    padding-left: 1rem;
}

.container {
    max-width: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    text-align: left;
    grid-template-columns: minmax(100%, 1fr);
}

.setting__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}

.item-p {
    font-size: clamp(1rem, 3vw, 1.45rem);
}

.plus, .less {
    padding: 10px 18px;
    background-color: #bdbdbd;
    border-radius: 8px;
    margin: 1rem 0;
}

input[type="checkbox"] {
    color: #bebebe !important;
    width: 28px;
    height: 28px;
    color-scheme: white;
}

.reset {
    padding: 12px 28px;
    background-color: #fefefe;
    color: #21232d;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 8px;
    margin: 1rem 0;
}

/** settings classes **/
body.prefer-motion-reduce {
    animation: none !important;
    -webkit-animation: none !important;
    transform-origin: none;
    transition: none !important;
}

/* reset by cssreset.tk */
*,
*::after,
*::before {
    box-sizing: border-box;
}

*::first-letter {
    text-transform: uppercase;
}

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
q,
samp,
section,
span,
strong,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body,
html {
    min-height: 100vh;
    line-height: 1
}

canvas,
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    margin: 0;
    font-size: inherit;
}

/*,
input,
select,
textarea {
    font: inherit
} */

button {
    font: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ol,
ul,
ul[role='list'],
ol[role='list'] {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer
}

button {
    background: none;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

cite,
fieldset {
    border-width: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::after,
    *::before {
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
        scroll-behavior: auto
    }

    html:focus-within {
        scroll-behavior: auto
    }
}